{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <div class="row">
        <div class="text-center">
            <h1>Hi, {{ current_user.username.capitalize() }}</h1>
        </div>
    </div>
    <br>
    <div class="row text-center">
        <div class="col-lg-offset-4">
            <div class="col-lg-3">
                <a class="btn btn-info btn-block" href="{{ url_for('order.list_orders') }}">List Jobs</a>
            </div>
        </div>
        <div class="col-lg-2">
            <a class="btn btn-info btn-block" href="{{ url_for('customer.customers') }}">List Customers</a>
        </div>
    </div>
    </div>
{% endblock %}