{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row">
        <div class="col-lg-offset-4 col-lg-2">
            <a class="btn btn-primary btn-block" href="{{ url_for('customer.create_customer') }}">New Customer</a></a>
        </div>
    </div>
    <table id="customer_list" class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Contact</th>
            <th>List Customer's Jobs</th>
            <th>Create Job</th>
            <th>Edit Customer</th>
            <th>Delete Customer</th>
        </tr>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td>
                    <a href="{{ url_for('customer.detail_customer', number=customer.id) }}">Contact {{ customer.name.title() }}</a>
                </td>
                <td><a class="btn btn-default"
                       href="{{ url_for('order.customer_orders', customer_id=customer.id) }}">All Jobs</a></td>
                <td><a class="btn btn-primary" href="{{ url_for('order.create_order', customer_id=customer.id) }}">New
                    Job</a></td>
                <td><a class="btn btn-info" href="{{ url_for('customer.edit_customer', number=customer.id) }}">Edit Customer</a>
                </td>
                <td><a class="btn btn-danger" href="{{ url_for('customer.delete_customer', number=customer.id) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}


        </tbody>
        </thead>
    </table>

{% endblock %}