{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<table id="order_table" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Job</th>
            <th>Filter</th>
            <th>Ride</th>
            <th>Controller</th>
            <th>Date Created</th>
            <th>Images</th>
            <th>Edit</th>
        </tr>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>
                <a href="{{ url_for('order.detail_order', number=order.id) }}">#{{ order.id }} Details</a>
            </td>
            <td>
                <a href="{{ url_for('order.customer_orders', customer_id=order.customer.id) }}">{{
                    order.customer.name.title() }}'s
                    Jobs</a>
            </td>
            <td>{% if order.ride %}
                {{ order.ride.capitalize() }}
                {% else %}
                None on file!
                {% endif %}
            </td>
            <td>
                {% if order.controller %}
                {% for controller in order.controller %}
                <a class="btn btn-primary" href="{{ url_for('controller.detail_controller', controller_number=controller.controller_number) }}">
                    #{{ controller.controller_number }}</a>
                {% endfor %}
                {% else %}
                <a class="btn btn-danger" href="{{ url_for('controller.create_controller', order_id=order.id, customer_id=order.customer.id) }}">Add</a>
                {% endif %}
            </td>
            <td>
                {{ order.date_created.strftime('%m-%d-%Y') }}
            </td>
            <td>
                {% if order.image %}
                <a class="btn-sm btn-success" href="{{ url_for('upload', order_id=order.id) }}">Add</a>
                <a class="btn-sm btn-success" href="{{ url_for('order.detail_order', number=order.id) }}">View</a>
                {% else %}
                <a class="btn btn-danger" href="{{ url_for('upload', order_id=order.id) }}">Add</a>
                {% endif %}
            </td>
            <td><a class="btn-info btn" href="{{ url_for('order.edit_order', number=order.id) }}">Edit</a></td>

        </tr>
        {% endfor %}


    </tbody>
    </thead>
</table>

{% endblock %}