{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>{{ title }}:</h1>
<a class="btn btn-primary" href="{{ url_for('order.create_order', customer_id=customer_id) }}">New Job</a>
<hr>
<table id="customer_jobs" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Job #</th>
            <th>Ride</th>
            <th>Date</th>
            <th>PS</th>
            <th>Lights</th>
            <th>Controller</th>
            <th>GFX</th>
            <th>CAD</th>
            <th>Wiring</th>
            <th>Images</th>
            <th>Edit</th>
        </tr>
    </thead>
    {% for order in orders %}
    <tr>
        <td><a href="{{ url_for('order.detail_order', number=order.id) }}">{{ order.id }} Details</a></td>
        <td>{{ order.ride.capitalize() }}</td>
        <td>{{ order.date_created.strftime('%m-%d-%Y') }}</td>
        <td>
            {% if order.two_forty and order.three_twenty %}
            320-240
            {% elif order.three_twenty %}
            320
            {% elif order.two_forty %}
            240
            {% endif %}
        </td>

        <td>
            <ul class="list-unstyled">
                {% if order.bubble_six %}
                <li>Bubble 6</li>
                {% endif %}

                {% if order.bubble_nine %}
                <li>Bubble 9</li>
                {% endif %}

                {% if order.bubble_fourteen %}
                <li>Bubble 14</li>
                {% endif %}

                {% if order.puck_six %}
                <li>Puck 6</li>
                {% endif %}
                {% if order.puck_molex_six %}
                <li>Molex Puck 6</li>
                {% endif %}
                {% if order.puck_nine %}
                <li>Puck 9</li>
                {% endif %}
                {% if order.long_nineteen %}
                <li>Longwire 19</li>
                {% endif %}
                {% if order.short_nineteen %}
                <li>Short 19</li>
                {% endif %}
                {% if order.green_nineteen %}
                <li>Green 19</li>
                {% endif %}
                {% if order.ads_twentyfour %}
                <li>ADS 24</li>
                {% endif %}
                {% if order.ads_thirtysix %}
                <li>ADS 36</li>
                {% endif %}


            </ul>
        </td>
        
        <td>
                {% if order.controller %}
                {% for controller in order.controller %}
                <a href="{{ url_for('controller.detail_controller', controller_number=controller.controller_number) }}">  #{{ controller.controller_number }}</a> 
                {% endfor %}
                {% else %}
                <a class="btn btn-primary" href="{{ url_for('controller.create_controller', order_id=order.id, customer_id=order.customer.id) }}">Add</a>
                {% endif %}
        </td>

        <td>
           
            <a class="btn btn-primary" href="#">Add</a>
        </td>
        <td>
                <a class="btn btn-primary" href="#">Add</a>

        </td>
        <td>
                <a class="btn btn-primary" href="#">Add </a>
        </td>
        <td>
                <a class="btn btn-primary" href="{{ url_for('upload', order_id=order.id) }}">Add</a>

        </td>
        <td><a class="btn-info btn" href="{{ url_for('order.edit_order', number=order.id) }}">Edit</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}