{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<table id="controller_list" class="table table-bordered table-striped">
<thead>
    <tr>
        <th>Controller</th>
        <th>Customer</th>
        <th>Ride</th>
        <th>Date Created</th>
        <th>Last Update</th>
        <th>Edit</th>
    </tr>
</thead>
<tbody>
        {% for controller in controllers %}
        <tr>
<td>
<a class="btn btn-primary" href="{{ url_for('controller.detail_controller', controller_number=controller.controller_number) }}">#{{ controller.controller_number }}</a>
</td>
<td>
    {{controller.customer}}
</td>
<td>
    {{controller.order.ride}}
</td>
<td>
    {{ controller.date_created.strftime('%m-%d-%Y') }}
</td>
{% if controller.date_updated %}
<td>
    {{ controller.date_updated.strftime('%m-%d-%Y') }}
</td>
{% else %}
<td>No Updates!</td>
{% endif %}
<td><a class="btn btn-info" href="{{ url_for('controller.edit_controller', controller_number=controller.controller_number) }}">Edit</a></td>
        </tr>
        {% endfor %}


</tbody>


</table>

{% endblock %}