{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

<div class="text-center">
    <h1>{{ title }}</h1>

</div>
<div class="row">
<h3>Chinese Controllers:</h3>
</div>
<hr>
<div class="row">
    <div class="col-lg-12">
        <form action="" method="post" class="form">
            <div class="form-group">
                {{ form.hidden_tag() }}
                {{ wtf.form_errors(form, hiddens='only') }}
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        {{ wtf.form_field(form.t_one_thousand) }}
                    </div>
                    <div class="col-lg-3 col-md-3">
                        {{ wtf.form_field(form.t_one_thousand_a) }}
                    </div>
                    <div class="col-lg-3 col-md-3">
                        {{ wtf.form_field(form.ym_four) }}
                    </div>
                    <div class="col-lg-3 col-md-3">
                        {{ wtf.form_field(form.ym_eight) }}
                    </div>
                </div>
                <div class="row">

                    <h3>Falcons:</h3>

                    <hr>
                    <div class="col-lg-4 col-md-4">
                        {{ wtf.form_field(form.falcon_two) }}
                    </div>
                    <div class="col-lg-4 col-md-4">
                        {{ wtf.form_field(form.falcon_four) }}
                    </div>
                    <div class="col-lg-4 col-md-4">
                        {{ wtf.form_field(form.falcon_sixteen) }}
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        {{ wtf.form_field(form.raspberry_pi) }}
                    </div>
                    <div class="col-lg-6 col-md-6">
                        {{ wtf.form_field(form.tp_link) }}
                    </div>
                </div>
                <div class="row">

                    <h3>Converters:</h3>

                    <hr>
                    <div class="col-lg-6 col-md-6">

                        {{ wtf.form_field(form.twentyfour_to_five) }}
                    </div>
                    <div class="col-lg-6 col-md-6">
                        {{ wtf.form_field(form.twentyfour_to_twelve) }}
                    </div>

                </div>
                <div class="row">

                    <h3>Box Information:</h3>

                    <hr>
                    <div class="col-lg-6 col-md-6">
                        {{ wtf.form_field(form.number_of_datas) }}
                    </div>
                    <div class="col-lg-6 col-md-6">
                        {{ wtf.form_field(form.spokes) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-lg-4">
                        {{ wtf.form_field(form.phoenix_one_by_one) }}
                    </div>
                    <div class="col-md-4 col-lg-4">
                        {{ wtf.form_field(form.phoenix_one_by_two) }}
                    </div>
                    <div class="col-md-4 col-lg-4">
                        {{ wtf.form_field(form.phoenix_two_by_two) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-12">
                        <div>
                            {{ wtf.form_field(form.boxes, rows=6) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1">
                        <h3>Order: </h3>
                    </div>
                    <div class="col-lg-5">
                        {{ wtf.form_field(form.order)}}
                    </div>
                    <div class="col-lg-6">
                        {{wtf.form_field(form.customer)}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <h3>Controller Number:</h3>
                    </div>
                    <div class="col-lg-1">
                        {{ wtf.form_field(form.controller_number) }}
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-6 col-sm-2">
                        {{ wtf.form_field(form.submit, class='btn-block btn-primary btn') }}

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}