{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Company</th>
            <th scope="col">Phone #</th>
            <th scope="col">Address</th>
        </tr>
        <tbody>
        <tr>
            <td>{{ customer.name }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.company }}</td>
            <td>{{ customer.phone }}</td>
            <td>{{ customer.address }}</td>
        </tr>
        </tbody>
        </thead>
    </table>
    <div class="col-md-4 text-center">
        <a class="btn btn-default" href="#">New Controller</a>
        <a class='btn btn-default' href="{{ url_for('create_order', customer_id=customer.id) }}">New Order</a>
        <a class='btn btn-default' href="#">New Ride</a>
    </div>
{% endblock %}