{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <table class="table">
        <thead>
        <tr>
            <th>Order #</th>
            <th>List</th>
            <th>Ride</th>
            <th>Date Created</th>
            <th>Upload</th>
            <th></th>
            <th>Controller</th>
        </tr>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>
                    <a href="{{ url_for('detail_order', number=order.id) }}">{{ order.id }} Details-Images</a>
                </td>
                <td>
                    <a href="{{ url_for('customer_orders', customer_id=order.customer.id) }}">{{ order.customer.name.title() }}'s
                        Orders</a>
                </td>
                <td>{% if order.ride %}
                    {{ order.ride.capitalize() }}
                {% else %}
                    None on file!
                {% endif %}
                </td>
                <td>
                    {{ order.date_created.strftime('%m-%d-%Y') }}
                </td>
                <td><a class="btn btn-primary" href="{{ url_for('upload', order_id=order.id) }}">Add
                    Images</a></td>
                <td><a class="btn-primary btn" href="{{ url_for('edit_order', number=order.id) }}">Edit Order</a></td>
                {% for controller in order.controller%}
                <td><a href="{{ url_for('detail_controller', controller_number=controller.controller_number) }}">#{{ controller.controller_number }}</a></td>
                {% endfor %}
            </tr>
        {% endfor %}


        </tbody>
        </thead>
    </table>

{% endblock %}