{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <p><a class="btn btn-primary" href="{{ url_for('create_order') }}">New Order</a></p>
    <table class="table">
        <thead>
        <tr>
            <th>Order #</th>
            <th>Customer</th>
            <th>Ride</th>
            <th></th>
        </tr>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>
                    <a href="{{ url_for('detail_order', number=order.id) }}">Order #{{ order.id }} Details</a>
                </td>
                <td>
                    <a href="{{ url_for('customer_orders', customer_id=order.customer.id) }}">{{ order.customer.name.title() }}</a>
                </td>
                <td>{% if order.ride %}
                    {{ order.ride }}
                {% else %}
                    None on file!
                {% endif %}
                </td>
                <td><a class="btn-primary btn" href="{{ url_for('edit_order', number=order.id) }}">Edit</a></td>
            </tr>
        {% endfor %}


        </tbody>
        </thead>
    </table>

{% endblock %}